.header__logo {
    height: 100px;
    /* margin-left: 100px; */
    /* margin-top: -50px; */
    padding-left: 100px;
}

.header__caixa {
    background-image: url(../img/fundo-menu1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    /* position: relative; */
    padding-bottom: 100px;
    /* width: 100%; */
    height: 1000px;
    /* margin: 0 auto; */
    /* margin-top: -50px; */
}

.posicao {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.3);
}

.header__navegacao {
    /* position: absolute; */
    /* top: 70px; */
    /* right: 100px; */
    padding-right: 100px;
    padding-top: 38px;

}

nav li {
    display: inline;
    margin:  0 0 0 15px;


}

.header__navegacao a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}